@media only screen and (min-width:769px) and (max-width: 1080px){
    /* navbar start */
    .menu{
        padding: 0 var(--largeDevicePadding);
    
    }
    .logo_container img{
        margin-right: 5px;
        width: 70px;
    }
    .logo_container p{
        font-size: 40px;
        font-weight: 700;
    }
    .nav a{
        font-size: 16px;
        margin-left: 20px;
    }

    /* navbar end */
    /* banner section start */
    .banner{
        padding-right: var(--largeDevicePadding);
    }
    .goat{
        padding-left: var(--largeDevicePadding);
    
    }
    /* banner section end */
    /* footer start */
    .icons{
        width: 35%;
        gap: 25px;

    }
    /* footer end */
}