@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

#hide{
    display: none;
}
:root{
    --primaryColor: #FF42A5;
    --secondaryColor: #0B0223;
    --leftRightPadding: 10%;
    --paraColor: #534C64;
    --largeDevicePadding:8%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.btn{
    border: none;
    font-size: 16px;
    padding: 12px 26px;
    border-radius: 22px;
    background-color: var(--primaryColor);
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
.title{
    font-size: 45px;
    font-weight: 700;
    color: var(--secondaryColor);
}

/* navbar start */
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--leftRightPadding);
    height: 5rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
.logo_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_container img{
    margin-right: 20px;
}
.logo_container p{
    font-size: 45px;
    font-weight: 700;
}
.G{
    color: var(--primaryColor);
}
.nav{
    display: flex;
    align-items: center;
    
}
.nav li{
    list-style: none;
}

.nav a{
    text-decoration: none;
    color: var(--secondaryColor);
    font-size: 18px;
    font-weight: 500px;
    margin-left: 32px;
}
.nav_follow{
    padding: 10px 16px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.fa-youtube{
    color: red;
    margin-left: 10px;
}

/* navbar end */
/* banner section start */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    padding-right: var(--leftRightPadding);
}
.goat{
    width: 50%;
    background-image:url("../images/Group14.png");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: 100%;
    height: 100%;
    padding: 110px 0;
    padding-left: var(--leftRightPadding);

}

.goat > h3{
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondaryColor);
}
.goat > h2{
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--secondaryColor);
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.goat p{
    color: var(--paraColor);
    font-weight: 500;
    line-height: 30px;

}
.fa-download{
    color: tomato;
}
.btn_sky{
    background-color: #4EC5F7;
    margin-left: 10px;
}
.group18{
    width: 45%;
    height: 100%;
    
}
.group18 img{
    width: 100%;
    height: 100%;
    
}
  /* banner section end */

  .gamer{

    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--leftRightPadding);
    text-align: end;
    min-height: 55vh;
    
  }
  .gamer_photo{
    width: 60%;
  }
  .gamer_photo img{
    width: 100%;
  }
  .gamer_info{
    width: 40%;
  }
  .gamer_title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 18px;
  }
  .gamer_description{
    color: #534C64;
    margin-bottom: 32px;
  }
  .gamer_info p:nth-child(4){
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;
    color: #534C64;
  }
  .quates{
    font-size: 24px;
    font-weight: 700;
    color: #534C64;
  }

  /* gamer section end */
  /* online_game section start */
  .online_game{
    padding-bottom: 120px;
  }
  .online_header{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
    height: max-content;
  }
  .online_header p{
    color: #534C64;
    margin-top: 15px;
  }
  .cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0  var(--leftRightPadding);
  }
  .card{
    width: 200px;
    height: 320px;
  }
  .img{
    position: relative;
    width: 100%;
    height: 80%;
  }
  .img img{
    width: 100%;
    height: 100%;
    filter: brightness(100%);
  }
  .img img:hover {
    filter: brightness(60%);
}
.img .fa-circle-play{
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
}
.img:hover .fa-circle-play{
    opacity: 1;
    visibility: visible;
}
.card p{
    margin-top: 24px;
}

/* online_game section end */

/* rider section start */
.rider{
    padding: 0 var(--leftRightPadding);
    min-height: 100vh;
    padding-top: 120px;
}
.player{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 120px;
    gap: 120px;
}
.player1_info{
    width: 350px;
    text-align: end;
    
}
.description{
    margin-top: 24px;
    color: #534C64;
}
.player1_images{
    width: 400px;
    position: relative;
}
.img_parent1{
    width: 400px;
}
.img_child1{
    width: 200px;
    position: absolute;
    left: -100px;
    bottom: -60px;

}



/* more_games section start */
.more_games{
    min-height: 50vh;
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 80px var(--leftRightPadding);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    gap: 5px;
    
}
.part{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 6px 18px;
    border: 1px solid transparent;
    border-radius: 40px;
}
.part:hover{
    border: 1px solid var(--primaryColor);
    background-color: #fff;
    
}
.part:hover h5{
    color: var(--primaryColor);
}
.part img{
    width: 50px;
}
.part h5{
    font-weight: 600;
    color: var(--secondaryColor);
}

/* more_games section end */
/* footer start */
footer{
    min-height: 80vh;
    background-color: var(--secondaryColor);
    padding: 120px 0;
}
.footer_logo{
    width: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;


}
footer li{
    list-style: none;
}
.footer_logo p {
    color: #fff;
    font-size: 45px;
    font-weight: 700;

}
.links{
    width: 50%;
    margin: 55px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;

    
}
.icons{
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
}
.policy{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.policy a{
    color: rgba(255, 255, 255, 0.60);
}

footer a{
    text-decoration: none;
    color: #fff;
}
.icons .fa-brands{
    color: #fff;
    font-size: 30px;
}
#copy{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
}