@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root{
    --primaryColor: #FF42A5;
    --secondaryColor: #0B0223;
    --leftRightPadding: 180px;
    --bannerChildWidth: calc(50%);
    --paraColor: #534C64;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.btn{
    border: none;
    font-size: 16px;
    padding: 12px 26px;
    border-radius: 22px;
    background-color: var(--primaryColor);
    text-transform: uppercase;
    color: #fff;

}

/* navbar start */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--leftRightPadding);
    height: 5rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
.logo_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_container img{
    margin-right: 20px;
}
.logo_container p{
    font-size: 45px;
    font-weight: 700;
}
.G{
    color: var(--primaryColor);
}

.nav a{
    text-decoration: none;
    color: var(--secondaryColor);
    font-size: 18px;
    font-weight: 500px;
    margin-left: 32px;
}
.nav_follow{
    padding: 10px 22px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.fa-youtube{
    color: red;
    margin-left: 10px;
}

/* navbar end */
/* banner section start */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    padding-right: var(--leftRightPadding);
}
.goat{
    width: 50%;
    background-image:url("../images/Group14.png");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: 100%;
    height: 100%;
    padding: 110px 0;
    padding-left: var(--leftRightPadding);

}

.goat > h3{
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondaryColor);
}
.goat > h2{
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--secondaryColor);
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.goat p{
    color: var(--paraColor);
    font-weight: 500;
    line-height: 30px;

}
.fa-download{
    color: tomato;
}
.btn_sky{
    background-color: #4EC5F7;
    margin-left: 10px;
}
.group18{
    width: 45%;
    height: 100%;
    
}
.group18 img{
    width: 100%;
    height: 100%;
    
}
  /* banner section end */

  .gamer{
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  }
