@media only screen and (min-width:576px) and (max-width: 769px){
  /* navbar start */
  .menu{
        flex-direction: column;
        min-height: 15rem;
        padding: 50px 0;
    }
   
   /* navbar end */


    .banner{
        margin-top: 75%;
        padding: 0;
        min-height: 100vh;
        flex-direction: column-reverse;
    }
    .group18{
      width: 70%;
    }
    .group18 img{
        width: 100%;

    }
    .goat{
        padding: 100px 25%;
        width: 100%;
        background-size: cover;
        padding-top: 100px;
    }

    .goat h3{
        font-size: 150%;
  
    }
    .goat h2{
      font-size: 300%;
    }

    .goat p{
        font-size: 14px;
        
    }

     /* banner end */
     /* gamer start */
     .gamer{
        flex-direction: column;
        padding: 30px 20px;
        margin: 0;
     }
     .gamer_photo{
        width: 280px;
        padding: 0;
        margin: 0;
     }
     .gamer_info{
        padding: 0;
        margin: 0;
        width: 280px;
        text-align: center;
     }
     .title{
        font-size: 25px;
     }
     .gamer_info p:nth-child(4){
        font-size: 16px;
     }
     .quates{
        font-size: 18px;
     }
      /* gamer end */ /* gamer start */
     .gamer{
        flex-direction: column;
        padding: 30px 40px;
        margin: 0;
     }
     .gamer_photo{
        width: 330px;
        padding: 0;
        margin: 0;
     }
     .gamer_info{
        padding: 0;
        margin: 0;
        width: 300px;
        text-align: center;
     }
     .title{
        font-size: 25px;
     }
     .gamer_info p:nth-child(4){
        font-size: 16px;
     }
     .quates{
        font-size: 18px;
     }
      /* gamer end */

    /* online games start*/
     .cards{
      justify-content: center;
      gap: 20px;
     }


    
                /* online games end*/
         /* rider start */
    .rider{
        margin: 0;
        padding: 0;
        min-height: 60vh;
        margin-top: 100px;
        margin-bottom: 30px;
        
    }
    .player{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .player1_info{
        text-align: center;
    }
    .description{
        margin-top: 60px;
  
    }
    .player1_images{

        position: relative;
        width: 250px;
        height: max-content;

    }
    .img_parent1{
        width: 250px;

    }
    .img_child1{
        width: 110px;
        position: absolute;
        bottom: -40px;
        left: -45px;
  
       
    
    }
     /* rider end */
     /* more_games section start */
     .more_games{
        padding: 0 ;
     }
     .part img{
        width: 30px;
    }
    .part h5{
        font-size: 14px;
        font-weight: 600;
        color: var(--secondaryColor);
    }
     /* more_games section end */

     /* footer start */
     footer{
        min-height: 50vh;
     }
     .links{
        width: 70%;
     }
   .icons{
    width: 60%;
   }
     .policy{
        width: 80%;
     }

     /* footer end */

}


